.upload-book-container {
    
    max-width: 100%;
   margin-top: 40px;
   margin-left: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: url("https://w0.peakpx.com/wallpaper/972/48/HD-wallpaper-stack-of-books-blue-background-education-concepts-books-library-school-learning-concepts.jpg");
  }
  
  .upload-book-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .form-column {
    flex: 1;
    margin-right: 20px;
  }
  
  label {
    font-size: 16px;
    color: #666;
    font-weight: bold;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color:#007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color:white;
    color: black;
  }
  
  